*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
        font-family: "jost";
        src: url(./Jost/Jost-VariableFont_wght.ttf);
    }
    font-family: jost;
    
}

html {
    scroll-behavior: smooth;
  }
.header-area{
    height: 50px;
    background-color: white;
}
.icons-left{
    float: left;
    text-align: center;
}
.icons-right{
    float: right;
    text-align: center;
}
.fa {
    margin-top: 6px;
    padding: 10px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: larger !important;
}
.fa-google-plus{
    color: red; 
    font-size: 20px !important;  
}
.fa-twitter{
    color: deepskyblue;  
    font-size: 20px !important;   
}
.fa-envelope-o{
    color: red; 
    font-size: 20px !important;  
}
.fa-linkedin-square{
    color: deepskyblue;  
    font-size: 20px !important; 
}
.fa-facebook{
    color: blue; 
    font-size: 20px !important;  
}
.fa-pinterest-p{
    color:red; 
    font-size: 20px !important;  
}
.fa-user{
color: #39b54a;
}
.fa-user:hover{
    color: #3fa9f5;
}
.fa-shopping-cart{
color: #39b54a;
}
.fa-truck{
    color: #39b54a;
    }
.fa-search{
    color: white;
    margin-top: 2px;
}
.fa-home{
padding: 0px !important;
margin-left: 0px !important;
}
.fa-map-pin{
padding: 0px !important;
margin-left: 0px !important;
}
.fa-location-arrow{
padding: 0px !important;
margin-left: 0px !important;
}
.fa-product-hunt{
padding: 0px !important;
margin-left: 0px !important;
}
.fa-trophy{
padding: 0px !important;
margin-left: 0px !important;
}
.fa-shopping-bag{
padding: 0px !important;
margin-left: 0px !important;
}
.fa-address-book{
padding: 0px !important;
margin-left: 0px !important;
}
.f-2{
    padding: 3px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.fa-map-marker{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: black;
    font-size: 40px !important;
}
.fa-phone{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: black;
    font-size: 40px !important;
}
.fa-envelope-o{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: black;
    font-size: 40px !important;
}
.fa-window-close{
    margin-top: 0px !important;
    padding: 0px !important;
    color: red !important;
}
/* .fixed-top{
    top: 40px !important;
} */
.bg-light{
    background-color: #39b54a !important;
    height: 120px !important;
}
.navbar-collapse{
    flex-direction: row-reverse;
}
.nav-link{
    font-size: small !important;
    font-weight: bolder;
    color: white !important;
}
.nav-link:hover{
    text-decoration: underline !important;
    text-decoration-color: white 5px !important;
}
.navbar-nav{
    margin-right: 55px !important;
}
.logo{
    width: 250px;
}
.sec1{
    height: auto;
}
.carousel-item{
    background-color: #080d15 !important;
}
.w-100{
    height: 540px !important;
    opacity: 0.7;
}
.ab-sl{
    height: 300px !important;
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
  } 
  
.carousel-indicators li {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: -35 48 a;
        width: 16px;
        height: 16px;
        text-indent: -999px;
        background-color: #40403e;
        border-radius: 25px;
}
.carousel-indicators .active {
        background-color: #39b54a;
}
.s-h2{
    width: 600px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.s-content{
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 100px;
    margin-top: 170px;
}
.s-content2{
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 100px;
    margin-top: 50px;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 160px;
    border-radius: 0px;
}
.btn-secondary {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 216px;
    font-size: 15px;
    border-radius: 0px !important;
    height: 55px;
}
.s2-h2{
    font-size: xx-large;
    font-weight: bold;
    color: #3fa9f5;
}
.s3-h2{
    font-size: xx-large;
    font-weight: bold;
    color: #3fa9f5;
}
.sec2{
    height: auto;
}
.content{
    position: absolute; 
    bottom: 0; 
    background: #6cb0decc;
    color: #f1f1f1; 
    width: 465px; 
    height: 53px;   
    overflow: hidden;
    transition: ease-in-out;
}
.content>p{
    margin-top: -8px;
    text-align: center;
}
.content:hover{
    height: 70px;
    transition: ease-in-out 0.5s;
}
.content2>p{
    margin-top: -13px;
    text-align: center;
}
.content2:hover{
    height: 150px;
    transition: ease-in-out 0.5s;
}
.content3>p{
    margin-top: -13px;
    text-align: center;
}
.content3:hover{
    height: 100px;
    transition: ease-in-out 0.5s;
}
/* .c-h:hover{
    opacity: 1;
} */
.card:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.6);
}
.form-popup {
    display: none;
    position: absolute;
    /* bottom: 0; */
    right: 110px;
    /* border: 3px solid deepskyblue; */
    z-index: 9;
    top: 55px;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    width: 150px;
}
.content2{
    position: absolute; 
    bottom: 0; 
    background: #6cb0decc;
    color: #f1f1f1; 
    width: 298px; 
    height: 50px;   
    overflow: hidden;
    transition: ease-in-out;
}
.content2 h1{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.content3 h1{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.content h1{
    font-size: 40px;
    text-align: center;
}
.content3{
    position: absolute; 
    bottom: 0; 
    background: #6cb0decc;
    color: #f1f1f1; 
    width: 301px; 
    height: 50px;  
    overflow: hidden;
    transition: ease-in-out; 
}
.wg{
    display: none;
  }
  .hg{
    display: none;
  }
  .d2 {
    height: 178px;
}
.flex-container {
    display: flex;
    background-color: transparent;
  }
  
  .flex-container > div {
    background-color: transparent;
    margin: 0px;
  }
  .ab-c{
      margin-left: 50px;
      font-size: medium;
      font-weight: bold;
      color: white;
  }
  .ab-1{
      width: 286px;
  }
  .ab-p{
    width: 790px;
    word-spacing: normal;
    word-break: break-word;
    font-size: 15px;
  }
  .sec7{
    height: 1050px;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 30px;
    background-color: white;
  }
  .sec-c{
    height: auto;
    margin-bottom: 30px;
    background-color: white;
  }
  .sec8{
      height: 800px;
      background-color: white;
  }
  .sec9{
    height: auto;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 40px;
    background-color: white;
}
.card2 {
    border-radius: 10px;
    width: 175px;
    height: 230px;
    border: 1px solid rgba(5, 5, 5, 0.125);
}
.card2:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.6);
}
  .table{
      width: 70% !important;
  }
  .fl-1{
    flex: 0 0 40%;
    max-width: 42% !important;
  }
  .fl-2{
    flex: 0 0 20%;
    max-width: 28% !important;
  }
  .fl-3{
    max-width: 30% !important;
      
  }
.sec3{
    height: auto;
    background-color: #e6e6e6;
}
.sec4{
    height: 750px;
}
.card-body{
    padding: 0px !important;
}
.card-1{
    width: 253px;
}
.news-sub{
    background-color: #39b54a;
    border-radius: 25px;
    height: 200px;
}
.news-sub h2{
    color: white;
    font-weight: bolder;
}
.pl-30{
padding-left: 30px;
}
.news-para{
    font-size: large;
    width: 820px;
    margin-top: -30px;
    margin-left: 35px;
    color: white;
}
.btn-light{
    width: 150px !important;
    border-radius: 5px !important;
}
.news-input{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 850px;
}
.news-input::placeholder{
    color: white;
}
.sec5{
    height: 400px;
    background: linear-gradient( to bottom,black,transparent),url(./images/6.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
.solar{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}
.sec6{
    background-color: #4d4d4d;
    height: 300px;
}
.line{
    background-color: #3fa9f5;
    display: flex;
    width: auto;
    height: 10px;
}
.ft-1{
    width: 190px;
    margin-left: -20px;
}
.ft-h5{
    color: white;
    font-weight: bold;
}
.ft-para{
color: white;
font-size: 13px;
padding-top: 3px;
}
.ft-green{
    color: #39b54a;
}
footer{
    background-color: #666666;
    height: 300px;
}
.ft-h6{
    font-size: 13px;
    color: white;
    font-weight: bold;
}
.ft-a{
    color: white !important;
}
.ft-a2{
    color: white !important;
    font-size: small;
}
.copywrite-area {
    position: relative;
    z-index: 1;
    height: 60px;
    background-color: #4d4d4d;
  }
  .bg-transparent{
    background : linear-gradient(90deg, rgba(63,94,192,1) 0%, rgba(68,116,172,1) 35%, rgba(93,167,216,1) 100%);
    color: white;
    font-weight: bold;
}
  .animate__animated .animate__fadeInUp{
      animation-duration: 15s !important;
      animation-delay: 3s !important;
  }
  .form-container .btn {
    background-color: #3fa9f5;
    color: white;
    padding: px px;
    border: none;
    cursor: pointer;
    width: 120px;
    margin-bottom: 10px;
    opacity: 0.8;
    margin-left: 14px;
    margin-top: 10px;
}
  .myicon{
    margin-left: 60px !important;
    margin-top: -15px !important;
  }
  /* .form__field {
    font-family: inherit;
    width: 0%;
    border: none;
      transition: 0.4s;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.1rem;
    color: black;
    background-color: transparent;
    padding: 0;
    padding: 0px 5px;
    margin-right: 10px;
  }
  .searchbox{
 
  }
  .searchbox:hover .form__field{
    width: 50px;
    padding: 0 6px;
  } */
  .searchBox {
    position: absolute;
    top: 18%;
    transform: translate(5%,50%);
    background: transparent;
    height: 35px;
    border-radius: 25px;
    padding: 0px;
    color: black;
}

.searchBox:hover > .searchInput {
    width: 80px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #00c352;
  color : #00c352;
}

.searchButton {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00c352;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-color: white;
}

.searchInput {
    border:none;
    background: transparent;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border-color: white !important;
}
.b2{
    width: 367px !important;
    font-size: large !important;
}
.sec31{
    height: 600px;
    background-color: white;
}
.sec32{
    height: 700px;
    background-color: #e6e6e6;
}
.sec33{
    height: 600px;
    background-color: white;
}
.sec34{
    height: 400px;
    background-color: #e6e6e6;
}
.sec35{
    height: auto;
    background-color: white;
}
.b3{
    width: 274px !important;
    font-size: medium !important;
}
ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 15px 20px;
}

ul.filters > li > a:hover{
    background-color: #555353;
}

ul.filters > li > a{
    color: #fff;
    background-color: #28a745;
    height: 55px;
}
.p-logo{
    width: auto;
    border-radius: 10px;
}
.btn-primary {
    color: #fff;
    border-color: #28a745 !important;
    background-color: #28a745 !important;
}
.d-sec{
    height: auto;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 30px;
    background-color: white;
}
.dh2{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
}
.ci{
    background-color: transparent !important;
}
.w-n{
    opacity: 2 !important;
}
.d-sec2{
    height: 350px;
    background-color: #e6e6e6;
}
.d-sec3{
    height: 570px;
    background-color: white;
}
.d-sec4{
    height: 300px;
    background-color: #e6e6e6;
}
.d-sec5{
    height: auto;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 30px;
    background-color: white;
}
.dropdown{
    display: none;
}

.c-i2{
    background-color: #e6e6e6 !important;
    display: block !important;
}
.in{
    bottom: -55px;
}
.horizontal-scrollable { 
    overflow-x: auto;  
  
} 


.wrapper{
    max-height: 400px;
    display: flex;
    overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    background-color: transparent;
}
.wrapper2{
    max-height: 300px;
    overflow-y: auto;
}
.shopping-cart::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .shopping-cart::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .shopping-cart::-webkit-scrollbar-thumb {
    background: #3fa9f5; 
    border-radius: 10px;
  }
  .shopping-cart::-webkit-scrollbar-thumb:hover {
    background: #3fa9f5; 
  }
.wrapper .item{
    margin-right: 25px;
}

.dropdown-menu{
    float: none !important;
    background-color: transparent !important;
}
.p-img{
    max-width: 1000px !important;
    height: 360px !important;
}
.t-img{
    max-width: 1000px !important;
    height: 175px !important;
}
.animate__animated .animate__backInLeft{
    animation-timing-function: linear !important;
    animation-iteration-count: infinite !important;
    -o-animation-iteration-count: infinite !important;
    
}
.proj{
    display: none;
}
.n-c{
    display: none;
}
.shop{
    display: none;
}
.feature{
    display: none;
}
.service{
    display: none;
}
.new{
    display: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    color: white;
}
button:focus {
    outline: 1px solid #28a745 !important;
    /* outline: 5px auto -webkit-focus-ring-color; */
}
.tooltip{
    display: contents !important;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: #3fa9f5;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
 
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .s-home{
    width: inherit;
  }
  .s-ind{
    width: inherit;
  }
  .s-sec{
      height: auto;
  }
  .pro-img{
      width: 350px;
      height: 300px;
  }
  .pro-content{
      position: absolute;
    bottom: 0; 
    background: white;
    color: black; 
    width: 350px; 
    height: 55px;   
    overflow: hidden;
    transition: ease-in-out;
  }
  .pro-content:hover{
    height: 210px;
    transition: ease-in-out 0.5s;
  }
  .cart-img{
      width: 100px;
      height: 100px;
  }
  .bt-cart{
      width: 120px !important;
  }
  .badge {
    background-color: rgb(99, 148, 248);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 1;
    padding: 6px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 25px;
}
.shopping-cart {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    margin: 20px -150px;
    padding: 20px;
    position: absolute;
    width: 320px;
    z-index: 1000;
    height: 400px;
    overflow-y: auto;
    display: none;
}
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
   
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    list-style: none;
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.shopping-cart .shopping-cart-items .item-price {
    color: rgb(99, 148, 248);
    font-size: 12px;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: rgb(171, 176, 190);
    font-size: 13px;
}
.shopping-cart::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 89%;
    margin-left: -8px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.cart-icon {
    color: rgb(81, 87, 131);
    float: left;
    font-size: 24px;
    margin-right: 7px;
}
.shopping-cart2 {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    margin: 20px -265px;
    padding: 20px;
    position: absolute;
    width: 320px;
    z-index: 1000;
    height: 200px;
    display: none;
}
.shopping-cart2 >.shopping-cart-header {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
   
}
.shopping-cart2>.shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart2>.shopping-cart-items li {
    list-style: none;
    margin-bottom: 18px;
}
.shopping-cart2>.shopping-cart-items img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 12px;
}
.shopping-cart2>.shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.shopping-cart2>.shopping-cart-items .item-price {
    color: rgb(99, 148, 248);
    font-size: 12px;
    margin-right: 8px;
}
.shopping-cart2>.shopping-cart-items .item-quantity {
    color: rgb(171, 176, 190);
    font-size: 13px;
}
.shopping-cart2::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 89%;
    margin-left: -8px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.cart-icon {
    color: rgb(81, 87, 131);
    float: left;
    font-size: 24px;
    margin-right: 7px;
}
.shopping-cart2>.button {
    background: rgb(99, 148, 248) none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    margin: -25px 0 15px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}
.shopping-cart2>.button {
    background: rgb(99, 148, 248) none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    margin: -25px 0 15px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background: rgb(114, 158, 249) none repeat scroll 0 0;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.lighter-text {
    color: rgb(171, 176, 190);
}
.main-color-text {
    color: rgb(99, 148, 248);
}
.cart-con{
    margin: auto;
    width: 80%;
}
.ct{
    height: auto;
}
.ch{
    height: auto;
}
.bill{
    box-sizing: border-box;
    height: auto;
    background: #f2f2f2 none repeat scroll 0 0;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
}
.tb-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}
.cash{
    margin-left: 2px;
}
@media only screen and (max-width:767px){
    .ch{
        height: auto;
    }
    .cash{
        margin-left: 0px;
    }
    .bill{
        margin-left: 0px;
        margin-top: 0px;
    }
    .ct{
        height: auto;
    }
    .shopping-cart {
        background: rgb(255, 255, 255) none repeat scroll 0 0;
        border-radius: 3px;
        margin: 20px -170px;
        padding: 20px;
        position: absolute;
        width: 270px;
        z-index: 1000;
        height: 400px;
        overflow-y: auto;
    }
    .cart-img {
        width: 65px;
        height: auto;
    }
    .fa-map-marker {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: black;
        font-size: 30px !important;
    }
    .fa-phone{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: black;
        font-size: 30px !important;
    }
    .fa-envelope-o{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: black;
            font-size: 30px !important;
        }
    .pro-content{
        height: 80px;
    }
    .pro-img{
        width: 345px;
    }
    .s-sec{
        height: auto;
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 180px;
        background-color: white;
        color: #3fa9f5;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1000;
        margin-left: -75px;
      }
    .bt-c{
        width: 100px !important;
    font-size: small !important;
    }
    .navbar-nav{
        height: 370px !important;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        height: 330px !important;
        width: 330px !important;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 330px !important;
        width: 330px !important;
    }
    .t-img {
        max-width: 100px;
        height: 55px !important;
    }
    .sec7{
        height: auto;
    }
    .sec8{
        height: auto;
    }
    .ab-p{
        width: 330px !important;
        text-align: center !important;
    }
    .ab-wo{
        width: 350px;
    }
    .ab-wo1{
        width: 345px;
    }
    .ab-c{
        margin-left: -320px !important;
        margin-top: 220px !important;
    }
    .w-100 {
        height: 330px !important;
        opacity: 0.7;
    }
    .new{
        display: block;
        height: 150px;
    }
    .feature{
        display: block;
    }
    .service{
        display: block;
    }
    .shop{
        display: block;
    }
    .n-c{
        display: block;
    }
    .pr-cs{
        display: none;
    }
    .proj{
        display: flex !important;
    }
    
    .in{
        bottom: 10px !important;
    }
    .dropdown-menu{
        position: relative !important;
        transform: none !important;
        border: none !important;
    }
    .dropdown{
        display: block;
    }
    .dr{
        display: none;
    }
    .d-sec4{
        height: auto;
        background-color: #e6e6e6;
    }
    .d-sec3{
        height: auto;
        background-color: white;
    }
    .d-sec5{
        height: auto;
    }
    iframe{
        width: inherit;
    }
    .d-sec2 {
        height: auto;
        background-color: #e6e6e6;
    }
    .d-sec{
        height: auto;
    }
    .s-content2{
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        margin-left: 20px;
        margin-top: 50px;
    }
    ul.filters > li > a{
        color: #fff;
        background-color: #28a745;
        height: 55px;
        margin-bottom: 5px;
    }
    .sec-c{
        height: auto;
    }
    .p-logo {
        width: inherit;
        height: 200px;
        margin-top: 15px;
    }
    .but2{
        font-size: x-small;
    }
    .sec9{
        height: auto;
    }
    .card2{
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }
    .table{
        width: 100% !important;
    }
    .sec31{
        height: auto;
        display: none;
    }
    .sec32{
        height: auto;
        display: none;
    }
    .sec33{
        height: auto;
        display: none;
    }
    .sec34{
        height: auto;
    }
    .sec35{
        height: auto;
    }
    .b2{
        width: -webkit-fill-available !important;
    }
    .b3{
        width: -webkit-fill-available !important;
    }
    .fa {
        margin-top: 12px;
        padding: 5px;
        margin-right: 2px;
        font-size: larger !important;
        border-radius: 50px;
        margin-left: 3px;
    }
    .fl-1{
        max-width: fit-content !important;
    }
    .fl-2{
        max-width: inherit !important;
        margin-top: -20px !important;
        flex: auto !important;
    }
    .fl-3{
        max-width: inherit !important;
        margin-top: -20px !important;
        flex: auto !important;
    }
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
    .searchBox {
        position: absolute;
        top: 83%;
        left: 2%;
    }
    /* .form__field {
        font-family: inherit;
        width: 50%;
        border: 0;
        border-bottom: 2px solid black;
        outline: 0;
        font-size: 1.1rem;
        color: black;
        padding: 0px 5px;
        background: transparent;
        transition: border-color 0.2s;
        margin-right: 2px;
    } */
    .form-popup {
        display: none;
        position: absolute;
        /* bottom: 0; */
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        top: 52px;
    }
    .bg-light{
        height: auto !important;
    }
    .logo{
        width: 215px;
    }
    footer{
        height: 855px;
    }
    .sec6{
        height: 900px;
    }
    .ft-h5{
        text-align: center;
        font-size: 20px;
    }
    .ft-para{
        font-size: 15px;
        text-align: center;
        word-wrap: break-word;
        width: auto !important;
    }
    .opt{
        width: inherit;
    }
    .ft-green{
        text-align: center;
    }
    .ft-1 {
        width: 280px;
        margin-left: 0px;
    }
    .copywrite-area {
        height: 200px;
        text-align: center;
    }
    .solar{
        font-size: large;
    }
    .sec5{
        height: 500px;
        margin-top: 670px;
    }
    .news-sub h2{
       font-size: inherit;
    }
    .btn-light{
        width: 120px !important;
    font-size: small !important;
    }
    .news-input {
        width: 110px;
        font-size: 12px;
    }
    .news-para {
        font-size: small;
        width: 220px;
    }
    .news-sub{
        height: 220px;
    }
    .card-1 {
        width: 285px;
    }
    .sec2 {
        height: auto;
    }
    .sec3{
        height: auto;
    }
    .sec4{
        height: 1150px;
        display: none;
    }
    .d1{
        width: 130px;
        height: 130px;
    }
    .btn-secondary{
        width: -webkit-fill-available;
        margin-bottom: -16px;
        font-size: large;
        height: auto;
    }
    .s-content {
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        margin-left: 25px;
        margin-top: 100px;
    }
    .s-h2 {
        width: 300px;
        font-size: larger;
        font-weight: bold;
        color: white;
    }
    .s2-h2 {
        margin-top: -100px;
        font-size: 28px;
        font-weight: bold;
        color: #3fa9f5;
    }
    .s3-h2 {
        font-size: 28px;
        font-weight: bold;
        color: #3fa9f5;
        text-align: center;
    }
    .content {
        position: absolute;
    bottom: 0;
    background: transparent;
    color: black;
    width: 185px;
    height: auto;
    margin-left: 135px;
    margin-bottom: 15px;
    overflow: hidden;
    }
    .content h1 {
        font-size: 20px !important;
        padding: 0px !important;
        text-align: left !important;
    }
    .content>p {
        margin-top: 0px;
        text-align: left;
        font-size: small;
        color: grey;
        font-weight: bold;
    }
    .card{
        margin-left: auto;
        margin-right: auto;
    }
    .content3{
        position: absolute;
        bottom: 0;
        background: transparent;
        color: black;
        width: 185px;
        height: 170px;
        margin-left: 135px;
        margin-bottom: -55px;
        overflow: hidden;
    }
    .content2{
        position: absolute;
        bottom: 0;
        background: transparent;
        color: black;
        width: 185px;
        height: 170px;
        margin-left: 135px;
        margin-bottom: -40px;
        overflow: hidden;
    }
    .content2 h1{
        font-size: 20px !important;
        padding: 0px !important;
        text-align: left !important;
    }
    .content2>p {
        margin-top: 0px;
        text-align: left;
        font-size: small;
        color: grey;
        font-weight: bold;
    }
    .content3 h1{
        font-size: 20px !important;
        padding: 0px !important;
        text-align: left !important;
    }
    .content3>p {
        margin-top: 0px;
        text-align: left;
        font-size: small;
        color: grey;
        font-weight: bold;
    }
    .d2{
        height: 130px;
        width: 130px;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .ab-wo1{
        width: 600px !important;
    }
    .ab-p{
        width: 720px !important;
        color: black !important;
    }
    .ab-wo{
        width: 350px !important;
        height: fit-content;
    }
    .ab-c{
        margin-top: 0px !important;
    }
    .sec4{
        display: none;
    }
    .new{
        display: block;
    }
    .proj{
        display: none !important;
    }
    .nd{
        display: block !important;
    }
    .sec31 {
        height: auto;
        display: none;
    }
    .sec32{
        display: none;
    }
    .sec33{
        display: none;
    }
    .service{
        display: block;
    }
    .feature{
        display: block !important;
    }
    .shop {
        display: block;
    }
    .bill {
        box-sizing: border-box;
        height: auto;
        background: #f2f2f2 none repeat scroll 0 0;
        margin-top: 385px;
        margin-left: 0px;
        padding: 0px;
    }
    .fl-2 {
        max-width: inherit !important;
        margin-top: -20px !important;
        flex: auto !important;
    }
    .fl-3 {
        max-width: inherit !important;
        margin-top: -20px !important;
        flex: auto !important;
    }
    .d1 {
        width: 310px;
        height: 200px;
    }
    .d2 {
        height: 200px;
        width: 310px;
    }
    .content {
        position: absolute;
        bottom: 0;
        background: transparent;
        color: black;
        width: 350px;
        height: auto;
        margin-left: 350px;
        margin-bottom: 50px;
        overflow: hidden;
    }
    .content2 {
        position: absolute;
        bottom: 0;
        background: transparent;
        color: black;
        width: 350px;
        height: 170px;
        margin-left: 350px;
        margin-bottom: 0px;
        overflow: hidden;
    }
    .content2 h1 {
        font-size: 40px;
        text-align: center;
      padding: 0px !important;
    }
    .content3 h1 {
        font-size: 40px;
        text-align: center;
      padding: 0px !important;
    }
    .content>p {
        margin-top: 0px !important;
        text-align: center;
        font-size: large;
    }
    .content2>p {
        margin-top: 0px !important;
        text-align: center;
        font-size: large;
    }
    .content2>p {
        margin-top: 0px !important;
        text-align: center;
        font-size: large;
    }
    .content3 {
        position: absolute;
        bottom: 0;
        background: transparent;
        color: black;
        width: 350px;
        height: 170px;
        margin-left: 350px;
        margin-bottom: 0px;
        overflow: hidden;
    }
    .b3 {
        width: 320px !important;
        font-size: medium !important;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 400px !important;
        width: 350px !important;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        height: 400px !important;
        width: 350px !important;
    }
    .pro-content:hover{
        height: 230px;
        transition: ease-in-out 0.5s;
      }
    .pro-content {
        position: absolute;
        bottom: 0;
        background: white;
        color: black;
        width: 210px;
        height: 60px;
        overflow: hidden;
        transition: ease-in-out;
    }
    .pro-img {
        width: 210px;
        height: 230px;
    }
    /* .pr-cs{
        display: none;
    } */
    .proj{
        display: flex;
    }
    .sec-c{
        height: 1100px;
    }
    .p-logo {
        width: inherit;
        border-radius: 10px;
    }
    .copywrite-area{
        height: 80px;
    }
    footer{
        height: 360px;
    }
    .sec9{
        height: 5800px;
    }
    .sec6{
        height: 320px;
    }
    .ft-1{
        width: inherit;
    }
    .but2{
        font-size: small;
    }
    .card2{
        width: 115px;
    }
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
    .searchBox {
        position: absolute;
        top: 80%;
        left: 30%;
    }
    .bg-light{
        height: auto !important;
    }
    .btn-secondary {
        width: 225px;
        margin-bottom: 5px;
    }
    .s-content {
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        margin-left: 50px;
        margin-top: 100px;
    }
    .s2-h2 {
        margin-top: -420px;
        font-size: xx-large;
        font-weight: bold;
        color: #3fa9f5;
    }
    .s3-h2 {
        font-size: xx-large;
        font-weight: bold;
        color: #3fa9f5;
    }
}
@media only screen and (min-width:1400px) and (max-width:1500px){
.s-content {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 150px;
    margin-top: 170px;
}
.s-content2 {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 150px;
    margin-top: 50px;
}
}